---
title: "Whitman County Suicide Prevention"
layout: splash
classes:
  - landing
  - dark-theme
header:
  overlay_image: /assets/images/Palouse.jpeg
  actions:
    - label: "Need help?"
      url: /year-archive/
    - label: "Volunteer"
      url: /Projects/
intro:
  - excerpt: ''
feature_events:
  - image_path: /assets/images/SuicideRiskReportingTips-WalletSizea.pdf
    alt: "Image of cork board with article about the League pinned to it and a LWV button"
    title: "Suicide Risk Reporting Tips"
    excerpt: ''
    url: /Work_Experience/
    btn_label: "Need help?"
    btn_class: "btn--primary"
feature_row:
  - image_path: /assets/images/we_luv.jpg
    alt: "Image of current Pullman League of Women Voters website"
    title: "Volunteer Efforts"
    excerpt: "One of my volunteer efforts is creating the website for such groups as The Pullman League of Women Voters.
    <br/>
    The League of Women Voters, a nonpartisan political organization, encourages the informed and active participation of citizens in government, and influences public policy through education and advocacy."
    url: /about/
    btn_label: "See more of my volunteer projects"
    btn_class: "btn--primary"
  - image_path: /assets/images/flag.png
    image_caption: "Image courtesy of [Someone](https://unsplash.com/)"
    alt: "American Flag"
    title: "Research"
    excerpt: "U.S. citizens 18 and older who are residents of Washington State and have their full civil rights are eligible to vote."
    url: /voter_info/
    btn_label: "Learn how to Vote"
    btn_class: "btn--primary"
  - image_path: /assets/images/2019-05-18_Art_Walk.png
    title: "Advocacy"
    excerpt: "Any United States citizen who is at least 16 years of age may join the League of Women Voters. Others may join as associate members."
    url: /advocacy/
    btn_label: "Get Involved!"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/League_Screenshot.png
    alt: "Image of current Pullman League of Women Voters website"
    title: "Volunteer Efforts"
    excerpt: "One of my volunteer efforts is creating the website for such groups as The Pullman League of Women Voters.
    <br/>
    The League of Women Voters, a nonpartisan political organization, encourages the informed and active participation of citizens in government, and influences public policy through education and advocacy."
    url: /Volunteer/
    btn_label: "See more of my volunteer projects"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/espinner.jpg
    alt: "League of Women voters image"
    title: "Side Projects"
    excerpt: "I enjoy creating small electronics projects and items on the side. My latest project is creating an e-spinner! A spinning wheel that fits in a box and runs on a small motor!"
    url: /Projects/
    btn_label: "See more of my side projects!"
    btn_class: "btn--primary"
---



<!-- {% include feature_row id="intro" type="center" %} -->

{% include feature_row id="feature_events" type="left" %}

<!-- {% include feature_row %} -->

{% include feature_row id="feature_row2" type="center" %}

{% include feature_row id="feature_row3" type="right" %}
